@charset "UTF-8";
/*------------- Page d'accueil + general  -------------*/
html {
  height: 100%; }

main {
  padding-bottom: 100px; }

body {
  position: relative;
  position: relative;
  min-height: 100%;
  width: 80%;
  margin: auto; }

h1 {
  color: #fdcb46;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

img {
  width: 100%;
  border-width: 1px;
  overflow: hidden;
  transition: all 450ms; }

.zoom {
  overflow: hidden;
  box-shadow: 0, 2px, 18px, 0, rgba(0, 0, 0, 0.3);
  margin: 50px; }
  .zoom img {
    opacity: 1;
    transition-duration: 2s;
    margin: 0 auto;
    display: block; }
    .zoom img:hover {
      transform: scale(1.2);
      opacity: 0.5;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      z-index: 0; }

a {
  text-decoration: none;
  color: #fdcb46; }

.main-title {
  text-align: center;
  background-color: #579c87; }

.menus {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px; }
  .menus a img {
    width: 100%;
    display: block;
    margin-left: 0;
    margin-right: 0; }

.bouton {
  height: 40px;
  background-color: #579c87;
  color: #fdcb46;
  text-align: center;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 1.5rem; }

footer {
  position: fixed;
  bottom: 0;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 1.5rem; }

#mention {
  float: left;
  margin-left: 10px; }

#contact {
  float: right;
  margin-right: 10px; }

@media only screen and (max-width: 992px) {
  body, footer {
    width: 100%; }

  .menus {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; }

  .zoom {
    margin-left: 150px;
    margin-right: 150px; } }
/* ---------  prochainement  ---------*/
#loader.background {
  left: 0;
  right: 0;
  z-index: 99999; }

#loader .dots {
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -50px;
  z-index: 999999; }

#loader .dots span {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #579c87;
  height: 15px;
  width: 15px;
  margin: 0 2px 0 0;
  display: inline-block;
  border-radius: 50%;
  animation: wave 2s ease  infinite;
  -webkit-animation: wave 2s ease infinite; }

#loader .dots span:nth-child(1) {
  animation-delay: 0;
  -webkit-animation-delay: 0; }

#loader .dots span:nth-child(2) {
  animation-delay: 100ms;
  -webkit-animation-delay: 100ms; }

#loader .dots span:nth-child(3) {
  animation-delay: 200ms;
  -webkit-animation-delay: 200ms; }

@-webkit-keyframes wave {
  0%, 40%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    background-color: rgba(87, 156, 135, 0.5); }
  10% {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
    background-color: #579c87; } }
@keyframes wave {
  0%, 40%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    background-color: rgba(87, 156, 135, 0.5); }
  10% {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
    background-color: #579c87; } }
/*------------  wiggle ------------*/
.wig:hover {
  animation: wiggle 1s linear infinite;
  transform-origin: center bottom; }

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0deg); }
  15% {
    transform: rotateZ(-15deg); }
  20% {
    transform: rotateZ(10deg); }
  25% {
    transform: rotateZ(-10deg); }
  30% {
    transform: rotateZ(6deg); }
  35% {
    transform: rotateZ(-4deg); }
  40%, 100% {
    transform: rotateZ(0); } }
/*------------surlignage des catégories---------*/
.surlign, .surlign-2-1, .surlign-2-2, .surlign-2-3, .surlign-3-1, .surlign-3-2, .surlign-3-3, .surlign-4 {
  position: relative; }

.surlign:after, .surlign-2-1:after, .surlign-2-2:after, .surlign-2-3:after, .surlign-3-1:after, .surlign-3-2:after, .surlign-3-3:after, .surlign-4:after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  transition: width 1s ease;
  -webkit-transition: width 1s ease; }

.surlign:hover:after, .surlign-2-1:hover:after, .surlign-2-2:hover:after, .surlign-2-3:hover:after, .surlign-3-1:hover:after, .surlign-3-2:hover:after, .surlign-3-3:hover:after, .surlign-4:hover:after {
  width: 100%;
  left: 0; }

/*----------- La note enchantée ----------------*/
.carte {
  text-align: center;
  color: black;
  font-size: 2.5rem; }

.carte-1 {
  text-align: center;
  background-color: #fcdfdb;
  color: #3d1319;
  box-shadow: 0, 2px, 18px, 0, rgba(0, 0, 0, 0.3);
  margin: 30px; }
  .carte-1 #musique {
    height: 100px;
    width: 105px;
    margin-top: 50px; }
  .carte-1 h1 {
    color: #3d1319;
    text-align: center;
    margin-top: 0;
    padding-top: 20px; }

.cat {
  text-align: center;
  display: flex;
  flex-direction: row; }
  .cat h2 {
    text-align: center;
    margin: auto; }
  .cat img {
    height: 15px;
    width: 290px; }

.t1 {
  margin-left: 100px;
  margin-top: 13px; }

.t2 {
  margin-top: 13px;
  margin-right: 100px; }

p {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 200%;
  font-size: 1.5rem;
  text-align: left; }
  p span {
    float: right;
    font-weight: bold; }

.bas {
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 50px; }
  .bas img {
    margin-left: auto;
    margin-top: 26px;
    height: 40px;
    width: 41px; }
  .bas h2 {
    margin-right: auto;
    margin-left: 10px; }

.surlign:after {
  background: #3d1319; }

.surlign:hover:after {
  background: #3d1319; }

@media only screen and (max-width: 1180px) {
  p {
    margin-left: 10px;
    margin-right: 10px; }

  .t1 {
    margin-left: 10px; }

  .t2 {
    margin-right: 10px; } }
/*----------- Le chic à la française ----------------*/
.carte-2-1 p, .carte-2-2 p, .carte-2-3 p {
  margin-left: 150px;
  margin-right: 150px; }

.carte-2-3 p {
  padding-bottom: 50px; }

/*----------- Entrées -----------------*/
.carte-2 {
  text-align: center;
  background-color: #fff5fe;
  box-shadow: 0, 2px, 18px, 0, rgba(0, 0, 0, 0.3);
  margin: 30px; }
  .carte-2 h1 {
    background: linear-gradient(to right, #e38913 30%, #915dfc 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem; }

.carte-2-1 {
  color: #c67412; }

.surlign-2-1:after {
  background: #c67412; }

.surlign-2-1:hover:after {
  background: #c67412; }

/*-------------- Plats --------------*/
.carte-2-2 {
  color: #a56799; }

.surlign-2-2:after {
  background: #a56799; }

.surlign-2-2:hover:after {
  background: #a56799; }

/*-------------- Desserts --------------*/
.carte-2-3 {
  color: #76737c; }

.surlign-2-3:after {
  background: #76737c; }

.surlign-2-3:hover:after {
  background: #76737c; }

@media only screen and (max-width: 1285px) {
  .carte-2-1 p, .carte-2-2 p, .carte-2-3 p {
    margin-left: 20px;
    margin-right: 20px; } }
/*----------- Le déllice des papilles ----------------*/
.carte-3-1 p, .carte-3-2 p, .carte-3-3 p {
  margin-left: 150px;
  margin-right: 150px; }

.carte-3-3 p {
  padding-bottom: 50px; }

/*----------- Entrées -----------------*/
.carte-3 {
  text-align: center;
  background-color: #edefef;
  box-shadow: 0, 2px, 18px, 0, rgba(0, 0, 0, 0.3);
  margin: 30px;
  color: black; }
  .carte-3 h1 {
    background: linear-gradient(to right, #1e3cdd 30%, #1a91fb 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem; }

.surlign-3-1:after {
  background: r #0228dd; }

.surlign-3-1:hover:after {
  background: #0228dd; }

/*-------------- Plats --------------*/
.surlign-3-2:after {
  background: #0670f3; }

.surlign-3-2:hover:after {
  background: #0670f3; }

/*-------------- Desserts --------------*/
.surlign-3-3:after {
  background: #229dff; }

.surlign-3-3:hover:after {
  background: #229dff; }

@media only screen and (max-width: 1294px) {
  .carte-3-1 p, .carte-3-2 p, .carte-3-3 p {
    margin-left: 20px;
    margin-right: 20px; } }
/*----------- La palette du goût ----------------*/
.carte-4-1 p, .carte-4-2 p, .carte-4-3 p {
  margin-left: 150px;
  margin-right: 150px; }

.carte-4-3 p {
  padding-bottom: 50px; }

.carte-4 {
  text-align: center;
  background-color: #fdfffd;
  box-shadow: 0, 2px, 18px, 0, rgba(0, 0, 0, 0.3);
  margin: 30px;
  color: black; }
  .carte-4 h1 {
    background: linear-gradient(to right, #3d923a 30%, #bfff81 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem; }

.surlign-4:after {
  background: linear-gradient(to right, #3d923a 30%, #bfff81 70%); }

.surlign-4:hover:after {
  background: linear-gradient(to right, #3d923a 30%, #bfff81 70%); }

@media only screen and (max-width: 1294px) {
  .carte-4-1 p, .carte-4-2 p, .carte-4-3 p {
    margin-left: 20px;
    margin-right: 20px; } }

/*# sourceMappingURL=style.css.map */
