@import "../Utils/variables";
/*----------- La palette du goût ----------------*/
#palette {
	font-family: 'Caveat', cursive;
	background-color: $colour-4-bc;
	color: $colour-titres;
	@include color-titre-menu($colour-4-1, $colour-4-2);
	h1 {
		font-family: 'Kaushan Script', cursive;
	}
}
.surlign-4:after {
	background: $colour-4-title;
}
.surlign-4:hover:after {
	background: $colour-4-title;
}
